.btn {
    border: none;
    width: 16rem;
    padding: 1rem 3rem;
    box-shadow: $shadow-dark;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-basic {
    border: none;
    padding: 1rem 3rem;
    box-shadow: $shadow-dark;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    background: linear-gradient(to left top, $bg-primary, $bg-hover);
    border-radius: .4rem;
    text-transform: uppercase;
    color: white;
    width: 100%;
}

.btn:hover {
    transform: translateY(2px);
    box-shadow: $shadow-light;
}

.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;

    svg {
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.btn-grey {
    border-radius: 0.4rem;
    background: linear-gradient(to right bottom, $bg-medium-grey, $bg-dark-grey);
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 1.5rem auto;
}

.btn-grey-light {
    border-radius: 0.4rem;
    background: linear-gradient(to left top, $bg-medium-grey, $bg-light-grey);
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 1.5rem auto;
}

.btn-rounded {
    border-radius: 3.5rem;
}

.btn-full {
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 1.5rem;
}

.btn-last-pop {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
