.form-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid $bg-light-grey;
    box-shadow: $shadow-light;
    padding: .7rem 2rem;
    border-radius: .4rem;
    width: 100%;
    transition: all .3s;
    margin-bottom: 1.5rem;
    &:focus {
        outline: none;
    }
    &::-webkit-input-placeholder {
        font-weight: 300;
        font-size: 1.3rem;
        color: $font-medium-grey;
    }
}

.form-control {
    width: 100%;
    position: relative;
    display: block;
    transition:  
    opacity 0.4s ease-in-out,
    height 0.4s 0.4s ease-in-out;
}

.error-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: -1rem;
    padding: 2rem;
    background-color: $bg-danger;
    border-left: 6px solid $bg-danger-dark;
    border-radius: .4rem;
    margin-bottom: 1rem;
    animation-name: animatedError;
    animation-duration: 2s;
    transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
    
    & p {
        color: $font-danger;
        font-size: 1.4rem;
        font-weight: 300;
        position: absolute;
        left: 6rem;
    }
}

.svg-size {
    width: 25px;
    height: 25px;

    & svg {
        object-fit: contain;
    }
}

@keyframes animatedError {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}