@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $font-dark-grey;
    background-color: $bg-light;
} 

.container {
    max-width: 80%;
    width: 80%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media only screen and (max-width: $bp-medium) {
        max-width: 90%;
        width: 90%;
        padding: 3rem 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 100%;
        width: 100%;
    }
}