// screen sizes
$bp-largest: 75em;                     // 1200px
$bp-large: 68.75em;                    // 1100px
$bp-medium: 56.25em;                   // 900px
$bp-small: 37.5em;                     // 600px
$bp-smallest: 31.25em;                 // 500px

// background colors
$bg-danger: #ff5b5b;
$bg-danger-medium: #fd3535;
$bg-danger-dark: #a60000;
$bg-light: #ededed;
$bg-primary: #666cff;
$bg-hover: #424aff;
$bg-primary-light: #bdc0fd;
$bg-light-grey: #bdbcbc;
$bg-medium-grey: #666;
$bg-dark-grey: #333;

// font colors 
$font-dark-grey: #333;
$font-medium-grey: #666;
$font-light-grey: #bdbcbc;
$font-primary: #666cff;
$font-danger: #a60000;

// shadows 
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.1);