// screen sizes
$bp-largest: 75em;                     // 1200px
$bp-large: 68.75em;                    // 1100px
$bp-medium: 56.25em;                   // 900px
$bp-small: 37.5em;                     // 600px
$bp-smallest: 31.25em;                 // 500px

// background colors
$tomato: tomato;
$bg-light: #ededed;

// font colors 
$dark-grey: #333;
$medium-grey: #666;
$font-primary: #90b1db;

// shadows 
$shadow-dark: 0 2rem 6rem rgba(#333,.3);
$shadow-light: 0 2rem 5rem rgba(#333,.15);